---
import type { ProjectMetadata } from "../../lib/utils";
import CopyIcon from "../icons/CopyIcon.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import NpmIcon from "../icons/NpmIcon.astro";
import SearchIcon from "../icons/SearchIcon.astro";

interface Props {
  project: ProjectMetadata;
}
const { project } = Astro.props;
const data = project.data;
---

<div
  class="fixed bottom-20 md:bottom-4 left-1/2 flex w-full justify-center"
  id="project-bar"
>
  <div
    class="flex w-fit max-w-4xl items-center justify-between gap-8 rounded-xl p-1 shadow-lg"
    style={{
      backgroundColor: data.color ?? "#808080",
    }}
  >
    <h2 class="pl-2 font-semibold text-2xl text-black">{data.title}</h2>

    <ul class="flex items-center gap-2">
      <li class="max-md:hidden">
        <button
          id="copy-button"
          type="button"
          class="flex aspect-square cursor-pointer rounded-lg p-2 text-black/70 transition-all hover:bg-black/20"
          title="Copy project link"
        >
          <CopyIcon width={18} height={18} />
        </button>
      </li>
      {
        data.npmLink && (
          <li>
            <a
              href={data.npmLink}
              title="Link to NPM"
              target="_blank"
              rel="noopener noreferrer"
              class="flex aspect-square rounded-lg p-2 text-black/70 transition-all hover:bg-black/20"
            >
              <NpmIcon width={18} height={18} />
            </a>
          </li>
        )
      }
      {
        data.githubLink && (
          <li>
            <a
              href={data.githubLink}
              title="View source on GitHub"
              target="_blank"
              rel="noopener noreferrer"
              class="flex aspect-square rounded-lg p-2 text-black/70 transition-all hover:bg-black/20"
            >
              <GithubIcon width={18} height={18} />
            </a>
          </li>
        )
      }
      {
        data.link && (
          <li>
            <a
              href={data.link}
              title="Visit project"
              target="_blank"
              rel="noopener noreferrer"
              class="flex aspect-square rounded-lg bg-black/20 p-2 transition-all hover:bg-black/30"
              style={{ color: data.color ?? "#808080" }}
            >
              <SearchIcon />
            </a>
          </li>
        )
      }
    </ul>
  </div>
</div>
<script>
  const btn = document.getElementById("copy-button");
  if (btn) {
    btn.addEventListener("click", () => {
      navigator.clipboard
        .writeText(window.location.href)
        .then(() => alert("Project url copied to clipboard!"))
        .catch(() => alert("Failed to copy link"));
    });
  }
</script>
