---
import GitHubGrid from "../GitHub/GitHubGrid.astro";
import Header from "../Layout/header/header.astro";
import BeyondCodeSection from "../home/BeyondCodeSection.astro";
import DoscientosCTA from "../home/DoscientosCTA.astro";
import OpenSourceSection from "../home/OpenSourceSection.astro";
import PerformanceCards from "../home/PerformanceCards.astro";
import WorkSection from "../home/WorkSection.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import { getProjects } from "../../lib/utils";
import "../../styles/cards.css";

const allProjects = getProjects();
const workProjects = allProjects.filter((p) => !!p.data.client).slice(0, 6);
const sideProjects = allProjects.filter((p) => !p.data.client).slice(0, 8);
---

<MainLayout>
  <div>
    <Header />
    <main class="flex w-full flex-1 flex-col gap-20 md:gap-32">
      <WorkSection projects={workProjects} />
      <OpenSourceSection projects={sideProjects} />
      <GitHubGrid />
      <BeyondCodeSection />
      <DoscientosCTA />
      <PerformanceCards />
    </main>
  </div>
</MainLayout>
