---
import GitHubGrid from "../components/GitHub/GitHubGrid.astro";
import Header from "../components/Layout/header/header.astro";
import BeyondCodeSection from "../components/home/BeyondCodeSection.astro";
import DoscientosCTA from "../components/home/DoscientosCTA.astro";
import OpenSourceSection from "../components/home/OpenSourceSection.astro";
import PerformanceCards from "../components/home/PerformanceCards.astro";
import WorkSection from "../components/home/WorkSection.astro";
import MainLayout from "../layouts/MainLayout.astro";
import { getProjects } from "../lib/utils";
import "../styles/cards.css";

const allProjects = getProjects();
const workProjects = allProjects.filter((p) => !!p.data.client).slice(0, 6);
const sideProjects = allProjects.filter((p) => !p.data.client).slice(0, 8);
---

<MainLayout>
  <div>
    <Header />
    <main class="flex w-full flex-1 flex-col gap-20 md:gap-32">
      <WorkSection projects={workProjects} />
      <OpenSourceSection projects={sideProjects} />
      <GitHubGrid />
      <BeyondCodeSection />
      <DoscientosCTA />
      <PerformanceCards />
    </main>
  </div>
</MainLayout>
