---
import { metadata } from "../../../lib/constants";
import MainSocials from "../../Social/MainSocials.astro";
 import Avatar from "../avatar/avatar.astro";
//  import { MainSocials } from "@/components/Social/MainSocials";
// import { metadata } from "@/lib/constants";
// import Image from "next/image";
---

<header
	class="mb-8 flex flex-col items-center justify-between gap-8 md:flex-row"
>
	<img
		src="/media/me.png"
		class="flex justify-center rounded-3xl bg-primary-300 object-cover object-bottom drop-shadow-md md:hidden"
		alt="Pol Gubau Amores' profile image"
		title="Pol Gubau Amores' profile image"
		width={150}
		height={150}
	/>
	<div class="flex flex-col max-md:gap-6 md:gap-3">
		<div class="overflow-hidden">
			<h1
				class="w-fit animate-slide-in-bottom overflow-hidden text-3xl leading-[.85] sm:text-4xl md:text-5xl"
			>
				<span class="block">{metadata.longName}</span>
			</h1>
		</div>
		<div class="overflow-hidden">
			<h2
				class="w-fit animate-slide-in-bottom overflow-hidden opacity-75 md:pb-2"
			>
				<span class="block text-md leading-[.85] sm:text-xl md:text-2xl">
					{metadata.slogan}
				</span>
			</h2>
		</div>

		<MainSocials />
	</div>
	<Avatar />
</header>
