---
import { Image } from "astro:assets";
import { metadata } from "../../../lib/constants";
import MainSocials from "../../Social/MainSocials.astro";
import Avatar from "../avatar/avatar.astro";
//  import { MainSocials } from "@/components/Social/MainSocials";
// import { metadata } from "@/lib/constants";
// import Image from "next/image";
import me from "../../../assets/media/me.webp";
---

<header
  class="mb-8 flex flex-col items-center justify-between gap-8 md:flex-row"
>
  <div class="bg-primary w-full flex justify-center md:hidden rounded-xl">
    <Image
      src={me}
      class="flex justify-center bg-primary object-cover object-bottom"
      alt="Pol Gubau Amores' profile image"
      title="Pol Gubau Amores' profile image"
      width={150}
      height={150}
    />
  </div>
  <div class="flex flex-col gap-3 max-md:items-center">
    <div class="overflow-hidden">
      <h1
        class="w-fit animate-slide-in-bottom overflow-hidden text-3xl leading-[.85] sm:text-4xl md:text-5xl"
      >
        <span class="block">{metadata.longName}</span>
      </h1>
    </div>
    <div class="overflow-hidden max-md:pb-4">
      <h2
        class="w-fit animate-slide-in-bottom overflow-hidden opacity-75 md:pb-2"
      >
        <span class="block text-md leading-[.85] sm:text-xl md:text-2xl">
          {metadata.slogan}
        </span>
      </h2>
    </div>

    <MainSocials />
  </div>
  <Avatar />
</header>
