---
import NavItem from "./NavItem.astro";

const navItems = {
  "/": { name: "Home" },
  "/projects": { name: "Projects" },
  "/ui": { name: "UI" },
  "/blog": { name: "Blog" },
};
---

<footer
  class="fixed bottom-0 w-full left-0 right-0 md:hidden"
  style="z-index: 999;"
>
  <nav
    class="bottom-0 w-full left-0 right-0 grid grid-cols-4 p-4 gap-2 justify-items-center items-center md:hidden backdrop-blur-sm relative"
    style="z-index: 999;"
  >
    <div
      class="absolute inset-0 bg-gradient-to-t from-background via-background/20 to-transparent pointer-events-none"
    >
    </div>

    {
      Object.entries(navItems).map(([path, { name }]) => (
        <NavItem path={path} name={name} />
      ))
    }
  </nav>
</footer>
