---
import LogoPill from "../../ui/LogoPill.astro";

const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);

const navItems = [
  { path: "/", name: "Home" },
  { path: "/about", name: "About" },
  { path: "/projects", name: "Portfolio" },
  { path: "/ui", name: "Experiments" },
  { path: "/blog", name: "Writing" },
];
---

<div class="mb-20 flex justify-between items-center gap-8 text-sm">
  <LogoPill />

  <nav class="flex justify-end items-center gap-6 text-sm">
    {
      navItems.map(({ path, name }) => {
        const isActive = path === pathname || path === `/${subpath?.[0] || ""}`;
        return (
          <a
            href={path}
            class:list={[
              "transition-colors duration-200",
              {
                "text-ink font-medium": isActive,
              },
              {
                "text-ink/50 hover:text-ink": !isActive,
              },
            ]}
          >
            {name}
          </a>
        );
      })
    }
  </nav>
</div>
