---
type Props = {
  path: string;
  name: string;
};
const { path, name } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
const isActive = path === pathname || path === `/${subpath?.[0] || ""}`;
---

<a
  href={path}
  tabindex={isActive ? -1 : undefined}
  class:list={[
    "relative flex items-center justify-center rounded-full px-4 py-2 text-sm font-medium outline-0 outline-primary transition-all duration-200 focus-visible:outline-2 focus-visible:outline-offset-2",
    {
      "pointer-events-none bg-foreground text-background": isActive,
    },
    {
      "text-foreground/60 hover:text-foreground hover:bg-foreground/5 active:scale-95":
        !isActive,
    },
  ]}
>
  <span class="whitespace-nowrap">
    {name}
  </span>
</a>
