<main class="flex w-full flex-1 animate-pulse flex-col gap-8">
	<div class="flex flex-col gap-1">
		<p class="h-[1.3em] w-full rounded-xl bg-ink/5"></p>
		<p class="h-[1.3em] w-[80px] rounded-xl bg-ink/5"></p>
	</div>

	<div class="flex w-full gap-4">
		<p class="flex flex-1 items-center justify-between rounded-xl bg-ink/5 p-6">
			<span class="h-[1.7em] w-[235px] rounded-md bg-ink/10"></span>
			<span class="h-[1em] w-[1em] rounded-md bg-ink/10"></span>
		</p>
		<p class="flex flex-1 items-center justify-between rounded-xl bg-ink/5 p-6">
			<span class="h-[1.7em] w-[245px] rounded-md bg-ink/10"></span>
			<span class="h-[1em] w-[1em] rounded-md bg-ink/10"></span>
		</p>
	</div>
	<hgroup class="text-balance mt-16 flex flex-col gap-5 font-medium text-3xl">
		<p>🎨👨‍💻</p>
		<p class="h-[75px] w-[400px] rounded-xl bg-ink/5"></p>
	</hgroup>
	<div class="flex flex-col gap-1">
		<p class="h-[1.3em] w-full rounded-xl bg-ink/5"></p>
		<p class="h-[1.3em] w-full rounded-xl bg-ink/5"></p>
		<p class="h-[1.3em] w-full rounded-xl bg-ink/5"></p>
		<p class="h-[1.3em] w-full rounded-xl bg-ink/5"></p>
	</div>
</main>
