---
import type { MarkdownHeading } from "astro";

type Props = {
  headings: MarkdownHeading[];
};
const { headings } = Astro.props;
---

<details
  class="bg-background border border-foreground/10 rounded-xl p-3 px-4 group"
>
  <summary
    class="font-semibold cursor-pointer list-none flex items-center justify-between select-none"
  >
    <span>Table of Contents</span>
    <svg
      class="w-5 h-5 transition-transform duration-200 group-open:rotate-180"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M19 9l-7 7-7-7"></path>
    </svg>
  </summary>
  <ul class="mt-4 text-sm">
    {
      headings.map(({ depth, slug, text }) => (
        <li class="hover:text-primary-800 dark:hover:text-primary-700 line-clamp-1">
          <a
            href={`#${slug}`}
            aria-label={`Scroll to section: ${text}`}
            class:list={[
              "block",
              { "mt-2 opacity-90": depth <= 2 },
              { "mt-1 pl-3 text-xs opacity-80": depth > 2 },
            ]}
          >
            {text}
            <span class="sr-only">Scroll to section: {text}</span>
          </a>
        </li>
      ))
    }
  </ul>
</details>
