---
import ProjectsList from "../../components/Projects/ProjectList/ProjectsList.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import { projects } from "../../lib/utils";
---

<MainLayout>
	<h1 class="mb-8 text-pretty font-medium text-xl md:font-semibold md:text-2xl">
		Projects
	</h1>
	<ProjectsList projects={projects} />
</MainLayout>
