---
import { metadata } from "../../../lib/constants";
import DownloadIcon from "../../icons/DownloadIcon.astro";
import MainSocials from "../../Social/MainSocials.astro";
---

<div
  class="mt-24 mb-[15vh] flex flex-col items-center justify-center gap-6 text-center text-neutral-600 md:justify-start md:text-left"
>
  <a
    title="Download my CV"
    href="/files/PolGubau_CV.pdf"
    download={`${metadata.longName} CV`}
    target="_blank"
    class="flex w-fit items-center gap-2 rounded-full border border-neutral-200 bg-neutral-50 px-5 py-3 transition-all hover:bg-neutral-100 hover:border-neutral-300"
    rel="noreferrer"
  >
    <span class="sr-only">Click here to download my CV</span>{" "}
    <DownloadIcon />
    Download my CV
  </a>

  <MainSocials />
</div>
