---
type Props = {
  href: string;
  label: string;
};
const { href, label } = Astro.props;
---

<a
  target="_blank"
  rel="noopener noreferrer"
  href={href}
  aria-label={label}
  class="mx-1 rounded-lg border border-ink/20 bg-ink/5 px-1 py-0.5 text-ink no-underline transition-all hover:bg-ink/10"
>
  @{label}
</a>
