---
interface Props {
  title: string;
  cons: string[];
}
const { title, cons } = Astro.props;
---

<div
  class="my-6 w-full rounded-xl border border-red-200 bg-neutral-50 p-6 dark:border-red-900 dark:bg-neutral-900"
>
  <span>{title}</span>
  <div class="mt-4">
    {
      cons.map((con) => (
        <div class="mb-2 flex items-baseline font-medium">
          <div class="mr-2 h-4 w-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="h-4 w-4 text-red-500"
            >
              <title>Cons</title>
              <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
            </svg>
          </div>
          <span>{con}</span>
        </div>
      ))
    }
  </div>
</div>
