---
// Importamos los tipos necesarios si los estamos utilizando
import type { HTMLAttributes } from "astro/types";

// Definimos las props para el componente Astro
interface Props extends HTMLAttributes<"a"> {
  href: string;
  className?: string;
}

const { href, className, target, rel, ...rest } = Astro.props;

const isExternal =
  !String(href).startsWith("/") && !String(href).startsWith("#");

const attributes: Record<string, unknown> = {
  ...rest,
  class: className,
  href,
  ...(isExternal && { target: "_blank", rel: "noopener noreferrer" }),
};
---

<a {...attributes}>
  <slot />
</a>
