---
import type { HTMLAttributes } from "astro/types";
import RightArrowIcon from "../icons/RightArrowIcon.astro";

interface Props extends HTMLAttributes<"a"> {
  name: string;
}

const { name, ...props } = Astro.props as Props;
---

<a
  {...props}
  class="text-balance group no-underline flex w-full flex-1 items-center justify-between gap-6 rounded-xl bg-ink/5 p-4 text-ink transition-all hover:bg-ink/10 md:p-6"
>
  <div class="flex flex-col gap-2">
    <span class="w-full font-semibold text-md md:text-lg">{name}</span>
    {
      props.children ? (
        <span class="w-full text-ink/60">{props.children}</span>
      ) : null
    }
  </div>
  <div class="transition-all group-hover:translate-x-1">
    <RightArrowIcon width={16} height={16} />
  </div>
</a>
